
tbody{
 text-align: center;
}

.title{
    position: relative;
    padding: 6px;
    background-image: -webkit-linear-gradient(315deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    text-align: center;
  }
  
  .title span {
    display: block;
    padding: 1rem 2rem;
    background: #fff;
    
  }

.title_bar{
    position: relative;
}

.title_link{
    position: absolute;
    right: 50px;
    top: 39px;
}

.content{
    margin: 80px auto 0;
    display: table;
}

h1{
    font-size: 2.23125rem;
    font-weight: 700;
    margin: 20 auto;
    letter-spacing: 10;
}

 
#search_user{
    /* margin-left: 330px; */
    padding: 32px;
}

#inn-mg{
    margin-left: 210px;
    padding: 32px 41px 32px;
}


.button {
    /* margin-top: 80px; */
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #1b1919;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #3a2f2f;  /* 影の設定 */
    border        : 2px solid #080808;    /* 枠の指定 */
  }

  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #ffffff;     /* 背景色     */
    background    : #1b1919;     /* 文字色     */
  }

#back_home{
    font-size: 20px;
   
}

  .search_area{
    display: table;
    margin: 70px auto;
  }

 #search_bar{
    height: 48px;
    width: 465px;
    font-size: 30px;
}
 


  #search_button{
    height: 48px;
    width: 80px;
    font-size: 29px;
  }
  .search_result{
    margin: 96px 470px;
  }

  .search_result_bar{
    font-size: 21px;
  }

  #result_label{
    font-size: 21px;
  }

  #search_result_bar{
    font-size: 19px;
  }

  .edit_btn{
    margin: 25px 130px;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .edit_btn:hover{
    color: #fff;
  background: #000;
  }

  #edit_btn{
    background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        font-size: 23px;
  }
  
  #edit_btn:hover{
    color: #fff;
  background: #000;
  }
  

  .inn_edit_btn{
    margin: 25px 130px;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inn_edit_btn:hover{
    color: #fff;
  background: #000;
  }

  #inn_edit_btn{
    background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        font-size: 23px;
  }
  
  #inn_edit_btn:hover{
    color: #fff;
  background: #000;
  }
  
  .inn_edit_plan_btn{
    margin: 25px 130px;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inn_edit_plan_btn:hover{
    color: #fff;
  background: #000;
  }

  #inn_edit_plan_btn{
    background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        font-size: 23px;
  }
  
  #inn_edit_plan_btn:hover{
    color: #fff;
  background: #000;
  }


  #back_home{
    font-size: 20px;
    /* position: relative;
    left: 800px;
    top: 45px; */
}




  #inn_name{
    font-size: 30px;
    padding: 1px 230px 1px
    }
  
  .inn_card_container{
    margin: 77px auto 0 ;
    /* background-color: rgb(212, 209, 209); */
    width: 755px;
    height: 485px;
    
  }

  /* .inn_card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-size: 23px;
    width: 655px;
    height: 462px;
    margin: 0 -67px 0 -75px;
    background-color: rgb(212, 209, 209);
  } */

 #inn_img{
  height: 186px;
  width: 208px;
  border-radius: 8%;
 }

#inn_img_edit{
 height: 235px;
 width: 350px;
}

  .inn_card{
    background-color: rgb(212, 209, 209);
  }

  .inn_card_right{
    margin-left: 190px;
  }

  .inn_card_left img{
    width: 204px;
    height: 185px;
   background-color: #ffffff;
   border-radius: 8%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 21px
  }

  .inn_card_font{
    font-size: 21px;
    margin-top: -188px;
    margin-left: 80px;
}
  

  .user_card_container{
    margin: 70px auto 0 ;
    width: 450px;
  }

  .user_card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-bottom: 10px;
    background-color: rgb(212, 209, 209);
}
  

  .user_card_right{
    margin-left: 40px;
  }

  .user_card_left{
   width: 150px;
   height: 150px;
   background-color: #ffffff;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .btn {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    margin: 10px auto;
  }
  
  .btn:hover {
    color: #fff;
    background: #000;
  }
  
  .btns{
    margin-top: 40px;
    padding-bottom: 10px;
  }

  
  #create_inns_button {
    /* margin-top: 80px; */
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #1b1919;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #3a2f2f;  /* 影の設定 */
    border        : 2px solid #080808;    /* 枠の指定 */
    margin-top: -20px;;
  }

  #create_inns_button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #ffffff;     /* 背景色     */
    background    : #1b1919;     /* 文字色     */
  }

  #back_home.button{
    /* margin-top: -13px;
    margin-right: 1120px; */
    margin-top: -13px;
    margin-right: 1090;
    
  }

  .btn_inns_search {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    margin: 10px 65px;
  }
  
  .btn_inns_search:hover {
    color: #fff;
    background: #000;
  }

  #plan_create_form{
    position: absolute;

  }